@{
    ViewBag.Title = "Home Page";
    if(Session["userId"] == null)
    {
        Response.Redirect("~/LogIn/Authorize");
    }
}

<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>GlobalChat</title>

</head>
<body>*@
    <div>
        <h1>AICI TREBUIA SA FIE CHAT-UL ...</h1>
    </div>

<div>
    <a href="@Url.Action("LogOut", "LogIn" )">Log Out</a>
</div>
@*</body>

</html>*@